Package
{{#package}}
  Name:        {{name}}
  Version:     {{version}}
  Authors:
  {{#authors}}
      {{{.}}}
  {{/authors}}
  Edition:     {{edition}}
  License:     {{license}}
  Readme:      {{readme}}
  Homepage:    {{homepage}}
  Description: {{description}}
  Categories:
  {{#categories}}
      {{.}}
  {{/categories}}
  Keywords:
  {{#keywords}}
      {{.}}
  {{/keywords}}
{{/package}}

Dependencies:
{{#dependencies.*}}
{{! here we use a mustachios extension, printf format strings }}
    {{*%%-12s}}: {{.%%8s}}
{{/dependencies.*}}

NB: support for ad-hoc nested destructuring (in this case, 'clap') is
under development. In the meantime, we must know the structure ahead
of time to destructure:

clap:
{{#dependencies}}
    version:  {{clap.version}}
    features: {{#clap.features}}{{.}}{{?}}, {{/?}}{{/clap.features}}
{{/dependencies}}
