
{{#alias}}
[[alias]]
name = "{{name}}"
{{/alias}}

{{#rule}}
  Targets:    {{targets}}
  Deps:       {{deps}}
  Action:     {{action}}

{{/rule}}

{{#library}}
  Name:         {{name}}
  Public name:  {{public_name}}
  c_names:      {{c_names}}

  Flags:
  {{#flags}}
    {{#standard}}
    Standard: true
        {{#extend}}
        Extend:   "{{extend}}"
        {{/extend}}
        {{#exclude}}
        Exclude:  "{{exclude}}"
        {{/exclude}}
    {{/standard}}
    {{#extra}}
    Extra:     "{{extra}}"
    {{/extra}}
    {{#include}}
    Include:   "{{include}}"
    {{/include}}
  {{/flags}}

  C flags:
  {{#c_flags}}
    {{#standard}}
    Standard: true
        {{#extend}}
        Extend:   "{{extend}}"
        {{/extend}}
        {{#exclude}}
        Exclude:  "{{exclude}}"
        {{/exclude}}
    {{/standard}}
    {{#extra}}
    Extra:     "{{extra}}"
    {{/extra}}
    {{#include}}
    Include:   "{{include}}"
    {{/include}}
  {{/c_flags}}

  C library flags:
  {{#c_library_flags}}
    {{#standard}}
    Standard: true
        {{#extend}}
        Extend:   "{{extend}}"
        {{/extend}}
        {{#exclude}}
        Exclude:  "{{exclude}}"
        {{/exclude}}
    {{/standard}}
    {{#extra}}
    Extra:     "{{extra}}"
    {{/extra}}
    {{#include}}
    Include:   "{{include}}"
    {{/include}}
  {{/c_library_flags}}

  {{#libraries}}{{^}}Deps: [{{/^}}{{.}}{{?}}, {{/?}}{{/libraries}}]

  {{#preprocess}}
  Preprocess:
      Pps: [{{#pps}}{{.}}{{?}}, {{/?}}{{/pps}}]
  {{/preprocess}}
{{/library}}
