try-import %workspace%/.config/registries.bazelrc
common --registry=https://raw.githubusercontent.com/obazl/registry/main/
common --registry=https://bcr.bazel.build

# test --@unity//src:include_double
# test --@unity//src:float_type=double

try-import %workspace%/.config/user.bazelrc
