common --experimental_cc_shared_library
common --enable_bzlmod

try-import .config/registries.bazelrc
common --registry=https://raw.githubusercontent.com/obazl/registry/main/
common --registry=https://bcr.bazel.build

try-import .config/user.bazelrc
