common --symlink_prefix=.bazel/

# build --experimental_cc_shared_library
# run   --experimental_cc_shared_library
# test  --experimental_cc_shared_library

common --color=yes
common:show --subcommands=pretty_print
common:show --verbose_failures
common:test --test_output=all
common:test --keep_going

common:showdev --config=show
common:showdev --//config/profile=dev
common:showdev --compilation_mode=fastbuild

common:showdbg --config=show
common:showdbg --//config/profile=dev
common:showdbg --//config/debug
common:showdbg --//config/debug:trace
common:showdbg --compilation_mode dbg

common:q --noshow_progress
common:q --noshow_loading_progress
common:q --show_result=0
common:q --ui_event_filters=-info,-debug

try-import .config/user.bazelrc
