{
  "clients": {
    "data": [
    {{#clients}}
      {{#data}}
        [{{#.}}
         {
             "type": "foo",
             "value": "{{.}}"
         }{{?}},{{/?}}
         {{/.}}]{{?}},
{{/?}}      {{/data}}
    ],
    "hosts": [{{#hosts}}
    {
    "type": "bar",
    "value": "{{.}}"
    }{{?}},{{/?}}
    {{/hosts}}]
  }
    {{/clients}}
}
